body{
    margin: 0;
    padding: 0;
    color: white;
    background-color: rgb(30, 30, 83);
    font-family:Arial, Helvetica, sans-serif;
    font-size: 15px;
}
#barra-superior{
    background-color: #00040a;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    color: #eee;
    font-size: 150%;
    letter-spacing: -1px;
    font-weight: bold;
}
#barra-superior p{
    margin: 0;
}
#links-superior{
    display:flex;
    align-items: center;
    justify-content: space-between;
}
    
#links-superior a{
        color: white;
        font-size: 110%;
}
.container{
    max-width:90%;
    margin: 0 auto;
}
.caixa{
    display: grid;
    background-color: #00040a;
    margin-top: 20px;
    margin-bottom: 30px;
    padding-left: 10px;
}
#cabecalho{
    display: flex;
    align-items: center;
}
#perfil{
    width: 15%;
    border-radius: 40%;
    margin: 20px 0;
}
#info{
    flex:1;
    max-width: 60%;
    margin-left: 5%;
}
#nome{
    font-size: 250%;
    letter-spacing: -3px;
}
