body{
    margin: 0;
    padding: 0;
    color: white;
    background-color: rgb(30, 30, 83);
    font-family:Arial, Helvetica, sans-serif;
    font-size: 15px;
}
body::-webkit-scrollbar{
    background: rgb(30, 30, 83);
    width: 12px;
}
body::-webkit-scrollbar-thumb{
    background: #ffffff;
    border-radius: 100px;
}
#botoes_superiores1{
    text-decoration: none;
    border-right: 2px solid white;
}
#botoes_superiores2{
    text-decoration: none;
    padding-left: 5px;
    border-left: 2px solid white;
}
#botoes_superiores1:hover,#botoes_superiores2:hover{
    color: #173ecc;
}
.segunda_pagina{
    background-color: rgb(255, 255, 255);
}
#barra-superior{
    background-color: #00040a;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    color: #eee;
    font-size: 150%;
    letter-spacing: -1px;
    font-weight: bold;
}
#barra-superior2{
    background-color: rgb(30, 30, 83);
    padding-left: 20px;
    padding-right: 20px;
    color: #eee;
    font-size: 150%;
    letter-spacing: -1px;
    font-weight: bold;
}
#barra-superior p{
    margin: 0;
}
#links-superior{
    display:flex;
    align-items: center;
    justify-content: space-between;
}  
#links-superior a{
        color: white;
        font-size: 110%;
}
.container{
    max-width:90%;
    margin: 0 auto;
}
.caixa{
    display: grid;
    background-color: #00040a;
    margin-top: 20px;
    margin-bottom: auto;
    padding-left: 10px;
    border-radius: 10px;
}
#cabecalho{
    display: flex;
    align-items: center;
}
#perfil{
    width: 15%;
    border-radius: 10%;
    margin: 20px 0;
}
#info{
    flex:1;
    max-width: 60%;
    margin-left: 5%;
}
#nome{
    font-size: 300%;
    letter-spacing: -3px;
}
.titulos{
    text-align: center;
}
.imagem_texto{
    display: flex;
    align-items: center;

}
.imghome{
    width: 10%;
    padding: 1%;
    border-radius: 20%;
}
.div_fundadores{
    display: flex;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;

}
.img_fundadores{
    width: 15%;
    border-radius: 20%;
    padding: 2%;
}
.nomes_fundadores{
    display: flex;
    justify-content: space-between;
    padding-left: 12%;
    padding-right: 12%;
}
.nomes_fundadores p{
    font-size: 20px;
}
.texto_home{
    text-align: center;
    font-size: 20px;
}

#lado_esquerdo{
    margin: 0px 0px 0px 0px;
    background-color: rgb(30, 30, 83);
    width: 314px;
    height: 891px;
}
.imagem1{
    width: 133px;
    height: 171px;
    margin: 69px auto auto 91px;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 10px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}
.imagem2{
    width: 212px;
    height: 121px;
    margin: 83px auto auto 51px;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 10px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}
.imagem3{
    width: 254px;
    height: 171px;
    margin: 83px auto auto 30px;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 10px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}
#lado_direito{
    float: right;
    margin: -891px auto auto auto;
    background-color: rgb(30, 30, 83);
    width: 314px;
    height: 891px;
}
.imagem4{
    width: 133px;
    height: 171px;
    margin: 69px auto auto 95px;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 10px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}
.imagem5{
    width: 212px;
    height: 121px;
    margin: 83px auto auto 52px;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 10px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}
.imagem6{
    width: 254px;
    height: 171px;
    margin: 83px auto auto 30px;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 10px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}
.imagem1:hover,.imagem2:hover,.imagem4:hover,.imagem5:hover{
    -webkit-transform:scale(1.25);
    -moz-transform:scale(1.25);
    -ms-transform:scale(1.25);
    -o-transform:scale(1.25);
    transform:scale(1.25);
}
.imagem3:hover,.imagem6:hover{
    -webkit-transform:scale(1.20);
    -moz-transform:scale(1.20);
    -ms-transform:scale(1.20);
    -o-transform:scale(1.20);
    transform:scale(1.20);
}
.texto1{
    margin: -868px 362px 0px 370px;
    color: black;
}
.titulo1{
    font-family: Roboto, sans-serif;
    font-weight: 600;
    font-size: 30px;
    text-align: left;
    margin-bottom: -10px;
    margin-right: 410px;
    border-left: 1px solid black;
    border-top: 1px solid black;
    padding: 2px;
    border-radius: 12px;
}
.titulo2{
    font-family: Roboto, sans-serif;
    font-weight: 600;
    font-size: 30px;
    text-align: right;
    margin-bottom: -10px;
    margin-top: 0px;
    margin-left: 407px;
    border-right: 1px solid black;
    border-top: 1px solid black;
    padding: 2px;
    border-radius: 12px;
}
.titulo3{
    font-family: Roboto, sans-serif;
    font-weight: 600;
    font-size: 30px;
    text-align: left;
    margin-bottom: -10px;
    margin-top: 0px;
    margin-right: 370px;
    border-left: 1px solid black;
    border-top: 1px solid black;
    padding: 2px;
    border-radius: 12px;
}
.paragrafo1{
    font-family: Segoe UI;
    font-weight: lighter;
    font-size: 22px;
    text-align: left;
    line-height: 24px;
}
.paragrafo2{
    font-family: Segoe UI;
    font-weight: lighter;
    font-size: 22px;
    text-align: left;
    line-height: 24px;
}
.paragrafo3{
    font-family: Segoe UI;
    font-weight:lighter;
    font-size: 22px;
    text-align: left;
    line-height: 24px;
}
#jogos_nome{
    background: linear-gradient(#FFFFFF 0%, rgba(255, 0, 0, 0.875) 48.44%, #0038FF 100%);
    color: rgb(0, 0, 0);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 20px;
    font-family: Copperplate, fantasy;
}
.bloco{
    padding-left: 48px;
}
.m1{
    margin-right: 260px;
    margin-top: -30px;
}
.formulario{
    background-color: #00040a;
    margin-left: 500px;
    margin-right: 500px;
    padding: 30px;
    border-radius: 20px;
}
.b1{
    margin-left: 45px;
}
.img1{
    margin-right: 50px;
    position: relative;
    animation: animando_redes 1s ease-in-out alternate infinite;
}
.img1:hover{top:-8px;box-shadow:0 2px 2px rgb(30, 30, 83)}
.img2{
    position: relative;
    animation: animando_redes 1s ease-in-out alternate infinite;
    animation-delay: 100ms;
}
.img2:hover{top:-8px;box-shadow:0 2px 2px rgb(30, 30, 83)}
.img3{
    margin-left: 50px;
    position: relative;
    animation: animando_redes 1s ease-in-out alternate infinite;
    animation-delay: 200ms;
}
.img3:hover{top:-8px;box-shadow:0 2px 2px rgb(30, 30, 83)}
.img4{
    margin-left: 50px;
    position: relative;
    animation: animando_redes 1s ease-in-out alternate infinite;
    animation-delay: 300ms;
}
.img4:hover{top:-8px;box-shadow:0 2px 2px rgb(30, 30, 83)}

@keyframes animando_redes{
    from{
        transform: translateY(-5px);
    }
    to{
        transform: translateY(5px);
    }
}
.rodape{
    text-align: center;
    background-color: #00040a;
    padding: 1rem;
    margin-top: 4%;
}