body{
    margin: 0;
    padding: 0;
    color: white;
    background-color: rgb(30, 30, 83);
    font-family:Arial, Helvetica, sans-serif;
    font-size: 15px;
}
body::-webkit-scrollbar{
    background: rgb(30, 30, 83);
    width: 12px;
}
body::-webkit-scrollbar-thumb{
    background: #ffffff;
    border-radius: 100px;
}
.segunda_pagina{
    background-color: rgb(255, 255, 255);
}
#barra-superior{
    background-color: #00040a;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    color: #eee;
    font-size: 150%;
    letter-spacing: -1px;
    font-weight: bold;
}
#barra-superior2{
    background-color: rgb(30, 30, 83);
    padding-left: 20px;
    padding-right: 20px;
    color: #eee;
    font-size: 150%;
    letter-spacing: -1px;
    font-weight: bold;
}
#barra-superior p{
    margin: 0;
}
#links-superior{
    display:flex;
    align-items: center;
    justify-content: space-between;
}  
#links-superior a{
        color: white;
        font-size: 110%;
}
.container{
    max-width:90%;
    margin: 0 auto;
}
.caixa{
    display: grid;
    background-color: #00040a;
    margin-top: 20px;
    margin-bottom: auto;
    padding-left: 10px;
}
#cabecalho{
    display: flex;
    align-items: center;
}
#perfil{
    width: 15%;
    border-radius: 40%;
    margin: 20px 0;
}
#info{
    flex:1;
    max-width: 60%;
    margin-left: 5%;
}
#nome{
    font-size: 250%;
    letter-spacing: -3px;
}
#lado_esquerdo{
    margin: 10px 0px 200px 0px;
    background-color: rgb(30, 30, 83);
    width: 314px;
    height: 891px;
}
.imagem1{
    width: 133px;
    height: 171px;
    margin: 69px auto auto 91px;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 10px;
}
.imagem2{
    width: 212px;
    height: 121px;
    margin: 83px auto auto 51px;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 10px;
}
.imagem3{
    width: 254px;
    height: 171px;
    margin: 83px auto auto 30px;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 10px;
}
#lado_direito{
    margin: -1091px -50px auto 76.80%;
    background-color: rgb(30, 30, 83);
    width: 314px;
    height: 891px;
}
.imagem4{
    width: 133px;
    height: 171px;
    margin: 69px auto auto 95px;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 10px;
}
.imagem5{
    width: 212px;
    height: 121px;
    margin: 83px auto auto 52px;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 10px;
}
.imagem6{
    width: 254px;
    height: 171px;
    margin: 83px auto auto 30px;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 10px;
}
.imagem1:hover,.imagem2:hover,.imagem3:hover,.imagem4:hover,.imagem5:hover,.imagem6:hover{
    -webkit-transform:scale(1.25);
    -moz-transform:scale(1.25);
    -ms-transform:scale(1.25);
    -o-transform:scale(1.25);
    transform:scale(1.25);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}
.texto1{
    margin: -920px 371px 0px 371px;
    color: black;
}
.titulo1{
    font-family: Cambria;
    font-size: 30px;
    text-align: left;
    margin-bottom: -20px;
}
.titulo2{
    font-family: Cambria;
    font-size: 30px;
    text-align: right;
    margin-bottom: -20px;
    margin-top: 0px;
}
.titulo3{
    font-family: Cambria;
    font-size: 30px;
    text-align: left;
    margin-bottom: -20px;
    margin-top: 0px;
}
.paragrafo{
    font-family: Lucida Bright;
    font-weight: 100;
    font-size: 20px;
    text-align: left;
}
#jogos_nome{
    background: linear-gradient(#FFFFFF 0%, rgba(255, 0, 0, 0.875) 48.44%, #0038FF 100%);
    color: black;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 20px;
    font-family: Copperplate, fantasy;
}

